
.topnav {
   background-color: #8cceff;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #395061;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #DDDDDD;
   color: black;
}

.topnav a.active {
   background-color: #04AA6D;
   color: white;
}
